.card{
  width: 413px;
  list-style-type: none;
  position: relative;
}

.card__image{
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title{
  max-width: 353px;
  margin: auto 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__content{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.card__delete-button{
  background-image: url(../images/delete-btn.svg);
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-button:hover{
  background-image: url(../images/delete-btn-hover.svg);
}

.card__like-button{
  background-image: url(../images/Union.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
}

.card__like-button_clicked{
  background-image: url(../images/like-btn-clicked.svg);
  opacity: 1;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 1;
}

.card__like-button_clicked:hover {
  opacity:0.4;
}

@media screen and (max-width: 627px) {
.card{
  width: 288px;
  height: 318px;
}

.card__image{
  height: 288px;
  width: 288px;
}

.card__title{
  max-width: 235px;
  font-size: 16px;
}
}