.modal{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease, opacity 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_type_preview{
  padding: 0 16px;
}

.modal_is-opened{
  visibility: visible;
  opacity: 1;
}

.modal__container{
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  border-radius: 8px;
  background-color: #fff;
  opacity: 1;
  position: relative;
  box-sizing: border-box;
}

.modal__close-button{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 32px;
  right: 50px;
  background-image: url(../images/close-button.png);
  background-color: transparent;
  border: none;
}

.modal__close-button:hover{
  cursor: pointer;
  opacity: 0.4;
}

.modal__close-button_preview{
  right: -52.5px;
  top: 0;
}

.modal__form{
  display: flex;
  flex-direction: column;
}

.modal__title{
  margin: 0 0 32px;
  max-width: 630px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__input{
  display: block;
  width: 100%;
  margin: 8px 0 32px;
  padding: 16px 12px;
  border: 1px solid #2121214d;
  border-radius: 8px;
  box-sizing: border-box;
}

.modal__input::placeholder{
  color: #2121214d;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.modal__label{
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.modal__submit-button{
  max-width: 155px;
  width: 100%;
  height: 52px;
  background-color: #212121;
  color: #fff;
  border-radius: 8px;
  border: none;
}

.modal__submit-button:hover{
  opacity: 0.8;
  cursor: pointer;
}

.modal__image-container{
  position: relative;
  padding: 0;
}

.modal__image{
  max-width: 80vw;
  height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
}

.modal__caption{
  color: white;
  background-color: #212121;
  max-width: fit-content;
  height: 32px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  padding: 4px 8px;
}

@media screen and (max-width: 627px) {

  .modal__title{
    margin-bottom: 24px;
    max-width: 276px;
    height: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
  }

  .modal__close-button{
    top: 12px;
    right: 12px;
  }

  .modal__input{
    height: 48px;
  }

  .modal__input::placeholder{
    font-size: 16px;
  }

  .modal__label{
    font-size: 16px;
  }

  .modal__submit-button{
    width: 100%;
    max-width: none;
  }

  .modal__image{
    max-width: unset;
  }
}